{% extends 'layout.html' %}

{% block title %} All User {% endblock %}

{% block body %}
                <section>
                    <div class="section-body">
                        <!-- BEGIN DATATABLE 2 -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <header>All User</header>
                                        
                                    </div>
                                    <div class="card-body">
                                    <div class=:table-responsive>
                                            <table id="example"class="table table-striped table-bordered" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th width="2=10px" >ID</th>
                                                        <th>Real Name</th>
                                                        <th>Time Zone</th>

                                                        <th width="2=10px"  >Activity Logs</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for order in new_user %}
                                                        <tr class="gradeX">
                                                            <td><a href="#">{{ order.id}}</a></td>
                                                            <td>{{ order.real_name }} </td>
                                                            <td>{{ order.tz }}</td>

                                                            <td>

                                                                <a href="{% url 'activity_log' order.id %}" ><i class="fa fa-bars fa-2x"></i> </a>
                                                              
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                     </div>   <!--end .table-responsive -->
                                    </div>   
                                </div>       
                            </div><!--end .col -->
                        </div><!--end .row -->
                        <!-- END DATATABLE 2 -->
                
                    </div><!--end .section-body -->
                </section>
                <script>
$(document).ready(function() {
    $('#example').DataTable();
} );
                </script>
               
{% endblock %}